<mat-sidenav-container>
  <mat-sidenav mode='over' #drawer >
<!--    <ng-content select='.menu'></ng-content>-->
    <mat-list class=menu>
      <mat-list-item [routerLink]="['/backoffice']" >
        <mat-icon matListIcon>dashboard</mat-icon>
        Products
      </mat-list-item>
      <mat-list-item [routerLink]="['/backoffice/profile']">
        <mat-icon matListIcon>person</mat-icon>
       Profile
      </mat-list-item>
      <mat-list-item (click)='logout()'>
        <mat-icon matListIcon>logout</mat-icon>
        Log Out
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
